* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.container {
  max-width: 1024px;
  padding-inline: 16px;
}

.text-accent {
  color: rgb(223, 100, 0);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-block: 16px;
  align-items: center;
}

.logo a {
  font-weight: 900;
  color: inherit;
  text-decoration: none;
}

.logo-accent {
  color: rgb(223, 100, 0);
}

.nav {
  display: flex;
  gap: 16px;
  font-size: 0.875rem;
  color: rgb(39, 39, 39);
}

.nav a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

.nav a.active {
  font-weight: 700;
}

.header-right {
  display: flex;
  gap: 8px;
}

.searchbox {
  font-size: 0.875rem;
  background-color: rgb(216, 216, 216);
  color: rgb(78, 78, 78);
  padding-block: 4px;
  padding-inline: 8px;
  width: 124px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.user-icon {
  background-color: black;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
}

.hero {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 3 / 1;
}

/* hero */
.hero-image {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  color: black;
  font-size: 3rem;
  font-weight: 900;
  left: 64px;
  top: 64px;
}

.hero-text-accent {
  color: rgb(223, 100, 0);
}

/* cook section */
.cook-section {
  padding-block: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.cook-section h2 {
  font-size: 2rem;
}

.cooknav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.cooknav-item {
  padding: 4px 20px;
  background-color: rgb(240, 240, 240);
  color: rgb(39, 39, 39);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cooknav-item.active {
  background-color: black;
  color: white;
}
